main {
    min-height: 82vh;
}


body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(246, 248, 246);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


main {
    padding: 0 30px;
}

.filterButtons {
    display: flex;
    list-style: none;
    padding: 10px;
}

.filterButtons button {
    margin-right: 10px;
    background-color: #1d3557;
    color: white;
    border: none;
    padding: 5px 15px;
}